@charset "UTF-8";

.langselect {
    width: auto; 
    left: auto; 
    right: 0;
}

.langselect > * {
    color: var(--bs-light);
    background-color: var(--bs-dark);
    border: 1px solid var(--bs-secondary);
}

.langselect > .form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23adb5bd' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");    
}

.accordion {
    --bs-accordion-color: var(--bs-light);
    --bs-accordion-bg: var(--bs-dark);
    --bs-accordion-btn-color: var(--bs-light);
    --bs-accordion-active-color: var(--bs-light);
    --bs-accordion-active-bg: var(--bs-dark);
    --bs-accordion-border-color: var(--bs-secondary);
    --bs-accordion-btn-focus-border-color: var(--bs-secondary);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.2rem var(--bs-secondary)
}

.accordion-button:not(.collapsed)::after, .accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23adb5bd'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-body > * {
    text-align: start;
}

li {
    word-spacing: 0.15rem;
    line-height: 2rem;
}
